
<div class="card">
    <h5>Kullanıcı Bilgileri</h5>
    <hr>
<p-table #dt
     dataKey="id"
     selectionMode="single"
     [(selection)]="selectedItem"
         (onRowSelect)="onRowSelect($event)"
     [columns]="cols"
     [value]="tableListArray"
     [rows]="10"
     [showCurrentPageReport]="true"
     [totalRecords]="totalRecords"
     [rowsPerPageOptions]="[10,25,50]"
     [loading]="loading"
     [resizableColumns]="true"
     [paginator]="true"
     [globalFilterFields]="columns.field"
     [lazy]="true"
     (onLazyLoad)="loadItems($event)"
     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
     [tableStyle]="{'min-width': '50rem'}"
>
    <ng-template pTemplate="caption"  >
        <div class="flex " >
        <p-multiSelect

            [options]="selectedColumns"
            [(ngModel)]="cols"
            optionLabel="header"
            class="ml-auto"
            styleClass="ml-auto"
            selectedItemsLabel="{0} Kolon seçili"
            [style]="{'minWidth': '200px'}"
                placeholder=""
        >

        </p-multiSelect>
        </div>
    </ng-template>
    <ng-template pTemplate="header"  let-columns>
        <tr>
            <th *ngFor="let col of columns" [pSortableColumn]="col.field" pResizableColumn>
                  {{col.header}}<p-sortIcon [field]="col.field"></p-sortIcon>

            </th>
        </tr>
        <tr>
            <th *ngFor="let col of columns">
                <p-columnFilter type="text" [field]="col.field" ></p-columnFilter>

            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns" >
        <tr [pSelectableRowDblClick]="rowData" >
            <td *ngFor="let col of columns" >
                {{rowData[col.field]}}
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage" let-columns>
        <tr>
            <td [attr.colspan]="columns.length">
                Gösterilecek veri bulunamadı
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="summary">
        <div style="text-align:right">
<!--            <div class="flex">-->
                <button type="button" pButton pRipple icon="pi pi-file"
                        class="p-button-text p-button-rounded mr-2" pTooltip="CSV"
                        tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-excel"
                        class="p-button-text p-button-rounded p-button-success mr-2"  pTooltip="XLS"
                        tooltipPosition="bottom"></button>
                <button type="button" pButton pRipple icon="pi pi-file-pdf"
                        class="p-button-text p-button-rounded p-button-warning mr-2" pTooltip="PDF"
                        tooltipPosition="bottom"></button>
<!--            </div>-->
        </div>
    </ng-template>
    </p-table>

    <div style="text-align:right" class="mt-3" >
        <p-button label="Ekle" (onClick)="ekleButton()" icon="pi pi-plus"></p-button>
        <!--<p-button label="Cancel" icon="pi pi-times" styleClass="p-button-secondary" [style]="{'margin-left': '.5em'}"></p-button>-->
    </div>

    <p-dialog [(visible)]="display" [maximizable]="true"
              [style]="{width: '75vw','min-height':'45vw'}"[baseZIndex]="10000">
    <p-header>Header right here</p-header>

           <ng-template pTemplate="header"  class="text-5xl">
               <span class="text-white font-bold ">Header center here</span>
           </ng-template>

<!--            <ng-template pTemplate="body">-->
                <app-dynamic-form
                        [model]="fieldDatas"
                        [getPageViewOptions]="getPageViewOption"
                        (kaydetButton)="kaydetButton.emit($event)">
                </app-dynamic-form>
       <p-button (onClick)="deneme()">deneme</p-button>
<!--            </ng-template>-->

    </p-dialog>

</div>
