<div [formGroup]="formName" class="p-fluid  field " >

    <div  *ngIf="!hasFieldError()" class="">
        <label >{{field.label}}</label>
    </div>
    <div  *ngIf="hasFieldError()"
     [class]="'errorMessage'">
        <label>* {{field.label}}</label>
    </div>
<!--    <label for="field.fieldName">* {{field.label}}</label>-->
    <!--           [ngClass]="formName.controls[fieldName].invalid ? 'errorMessage': '' "-->
    <input class="mt-2 p-float-label " id="field.fieldName" [type]="field.type" [formControlName]="field.fieldName"
           pInputText/>
</div>
