<div [formGroup]="formName" class="p-fluid  field ">
    <div   *ngIf="!formName.controls[fieldName].invalid " class="mb-2">
        <label  >{{field.label}}</label>
    </div>
    <div  *ngIf="formName.controls[fieldName].invalid "
          [class]="'errorMessage'" class="mb-2" >
        <label>* {{field.label}}</label>
    </div>
<!--    <div class="mb-2">{{field.label}}</div>-->
<!--    <select [formControlName]="field.fieldName">-->
<!--        <option *ngFor="let option of field.options" [value]="option.value">-->
<!--            {{option.label}}-->
<!--        </option>-->
<!--    </select>-->
    <span class="">
         <p-dropdown  type="select" placeholder="Seçim Yapınız" optionValue="value" optionLabel="label"
                       [formControlName]="field.fieldName"
                       [options]="field.options"
                       [showClear]="true" >

         </p-dropdown>
    </span>
</div>
