<div [formGroup]="formName" class="p-fluid " >
    <div *ngIf="!(formName.controls[fieldName].invalid && (formName.controls[fieldName].dirty || formName.controls[fieldName].untouched))" class="">
        <label >{{field.label}}</label>
    </div>
    <div *ngIf="formName.controls[fieldName].invalid && (formName.controls[fieldName].dirty || formName.controls[fieldName].untouched)"
         [class]="'errorMessage'">
        <label>* {{field.label}}</label>
    </div>


        <div class="formgroup-inline ">
            <div *ngFor="let option of field.options" class="field-radiobutton mt-4" style="cursor: pointer">

                    <p-checkbox
                        type="checkbox"
                        [formControl]="formName.controls[fieldName]"
                        [value]="[option]"
                        [inputId]="option.value"
                    >
                    </p-checkbox>
                <label [for]="option.value">{{option.label}}</label>

            </div>
        </div>


</div>
