<div class="card">
    <h2>Documentation</h2>
    <h4>Getting Started</h4>
    <p>Ultima is an application template for Angular and is distributed as a CLI project. Current versions are Angular v14 with PrimeNG v14. In case CLI is not installed already, use the command below to set it up.</p>

<pre class="app-code"><code>npm install -g @angular/cli</code></pre>

    <p>Once CLI is ready in your system, extract the contents of the zip file distribution, cd to the directory,
        install the libraries from npm and then execute "ng serve" to run the application in your local environment.</p>

<pre class="app-code"><code>cd ultima
npm install
ng serve</code></pre>

    <p>The application should run at <span class="font-semibold">http://localhost:4200/</span>, you may now start with the development of your application.</p>

    <h5>Important CLI Commands</h5>
    <p>Following commands are derived from CLI.</p>

<pre class="app-code"><code>Run 'ng serve' for a dev server. Navigate to `http://localhost:4200/`. The app will automatically reload if you change any of the source files.

Run 'ng generate component component-name' to generate a new component. You can also use `ng generate directive/pipe/service/class/module`.

Run 'ng build' to build the project. The build artifacts will be stored in the `dist/` directory. Use the `-prod` flag for a production build.

Run 'ng test' to execute the unit tests via [Karma](https://karma-runner.github.io).

Run 'ng e2e' to execute the end-to-end tests via [Protractor](http://www.protractortest.org/).

Run 'ng help' for more options.</code></pre>

    <h4>Structure</h4>
    <p>Ultima consists of 3 main parts; the application layout, layout assets and PrimeNG component theme assets. Layout is placed inside the <span class="text-primary font-medium">src/app/layout</span> folder,
        and the assets are in the <span class="text-primary font-medium">src/assets/layout</span> folder.
    </p>

    <h5>Default Configuration</h5>
    <p>Initial layout configuration can be defined at the main app component by injecting the <span class="text-primary font-medium">LayoutService</span>, this step is optional and only necessary when customizing the defaults. Note that <span class="text-primary font-medium">theme</span> and
        <span class="text-primary font-medium">scale</span> are not reactive since theme is configured outside of Angular at <strong class="font-semibold">index.html</strong> by default and
        initial scale is defined with the <span class="text-primary font-medium">$scale</span> at <strong class="font-semibold">layout.scss</strong>. When default theme or scale is changed at their files initially, it is required to configure the layout service with the matching values
        to avoid sync issues. </p>

<pre class="app-code"><code>import &#123; Component, OnInit &#125; from '@angular/core';
import &#123; PrimeNGConfig &#125; from 'primeng/api';
import &#123; LayoutService &#125; from './layout/service/app.layout.service';

@Component(&#123;
    selector: 'app-root',
    templateUrl: './app.component.html'
&#125;)
export class AppComponent implements OnInit &#123;

    constructor(private primengConfig: PrimeNGConfig, private layoutService: LayoutService) &#123; &#125;

    ngOnInit(): void &#123;
        this.primengConfig.ripple = true;       //enables core ripple functionality

        //optional configuration with the default configuration
        this.layoutService.config = &#123;
            ripple: false,                      // toggles ripple on and off
            inputStyle: 'outlined',             // default style for input elements
            menuMode: 'static',                 // layout mode of the menu, valid values are "static", "overlay", "slim", "horizontal" and "reveal"
            colorScheme: 'light',               // color scheme of the template, valid values are "light" and "dark"
            componentTheme: 'indigo',           // default component theme for PrimeNG
            scale: 14                           // size of the body font size to scale the whole application
            menuTheme: "light",                 // theme of the menu
            topbarTheme: "light",               // theme of the topbar
            menuProfilePosition: "end",         // position of the profile menu inside the main menu, valid values are "start" and "end"
        &#125;;
    &#125;

&#125;</code></pre>

    <h5>Menu</h5>
    <p>Menu is a separate component defined in <span class="text-primary font-medium">src/app/layout/app.menu.component.ts</span> file and based on PrimeNG MenuModel API. In order to define the menuitems,
        navigate to this file and define your own model as a nested structure.</p>

<pre class="app-code"><code>import &#123; OnInit &#125; from '@angular/core';
import &#123; Component &#125; from '@angular/core';

@Component(&#123;
    selector: 'app-menu',
    templateUrl: './app.menu.component.html'
&#125;)
export class AppMenuComponent implements OnInit &#123;

    model: any[];

    ngOnInit() &#123;
        this.model = [
            &#123;
                label: 'Dashboards',
                icon: 'pi pi-home',
                items: [
                    &#123;
                        label: 'Sales Dashboard',
                        icon: 'pi pi-fw pi-home',
                        routerLink: ['/']
                    &#125;,
                    &#123;
                        label: 'Analytics Dashboard',
                        icon: 'pi pi-fw pi-chart-pie',
                        routerLink: ['/dashboard-analytics']
                    &#125;,
                    &#123;
                        label: 'SaaS Dashboard',
                        icon: 'pi pi-fw pi-bolt',
                        routerLink: ['/dashboard-saas']
                    &#125;,
                ]
            &#125;,
            //...
        ];
    &#125;
&#125;</code></pre>

    <h5>Breadcrumb</h5>
    <p>Breadcrumb component at the topbar section is dynamic and retrieves the path information from the router using the <span class="text-primary font-medium">data.breadcrumb</span> property.</p>

<pre class="app-code"><code>&#123; 
    path: 'documentation', 
    data: &#123; breadcrumb: 'Documentation' &#125;, 
    loadChildren: () => import('./demo/components/documentation/documentation.module').then(m => m.DocumentationModule) 
&#125;</code></pre>

    <h4>Integration with Existing Angular CLI Projects</h4>
    <p>Ultima structure is designed in a modular way so that it can easily be integrated with your existing application. We've created a short tutorial with details using the Apollo template however the flow is exactly the same with Ultima as well.</p>

    <div class="video-container">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/yl2f8KKY204" frameborder="0" allowfullscreen></iframe>
    </div>

    <h4>Component Theme</h4>
    <p>Ultima provides 34 PrimeNG themes out of the box. Setup of a theme is simple by including the css of theme
        to your bundle that are located inside <span class="text-primary font-medium">assets/layout/styles/theme/</span>
        folder such as <span class="text-primary font-medium">assets/layout/styles/theme/theme-light/blue/theme.css</span>.</p>

    <p>A custom theme can be developed by the following steps.</p>
    <ul>
        <li class="line-height-4">Choose a custom theme name such as "mytheme".</li>
        <li class="line-height-4">Create a folder named "mytheme" under <span class="font-semibold">assets/layouts/styles/theme-light/</span> folder.</li>
        <li class="line-height-4">Create a file such as theme.scss inside your "mytheme" folder.</li>
        <li class="line-height-4">Define the variables listed below in your file and import the dependencies.</li>
        <li class="line-height-4">Include the theme.scss to your application.</li>
    </ul>

    <p>Here are the variables required to create a theme.</p>
<pre class="app-code"><code>$primaryColor:#3F51B5;
$primaryLightestColor: #E8EAF6;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#ff4081;
$accentTextColor:#ffffff;

@import '../_variables';
@import '../../_compact';
@import '../../designer/_components';
@import '../../extensions/_vendor_extensions';</code></pre>

    <h5>Theme Switcher</h5>
    <p>Dynamic theming is built-in to the template and implemented by including the theme via a link tag instead of bundling the theme along with a configurator component to switch it.
        In order to switch your theme dynamically as well, it needs to be compiled to css. An example sass command to compile the css would be;
    </p>

<pre class="app-code"><code>sass --update src/assets/theme/mytheme/theme.scss:src/assets/theme/mytheme/theme.css</code></pre>

    <p class="text-sm">*Note: The sass command above is supported by Dart Sass. Please use Dart Sass instead of Ruby Sass.</p>

    <p>Another alternative would be creating dynamic bundles, please see the <a href="https://www.youtube.com/watch?v=5VOuUdDXRsE" class="font-medium text-primary hover:underline">video tutorial</a> for an example.</p>

    <h5>Theme Designer</h5>
    <p>Ultima includes a simplified version of the <a href="https://www.primefaces.org/designer/primeng">PrimeNG Theme Designer</a> that only includes the main SASS structure. Full list of SASS variables to customize the components further is available at the
        <a href="https://www.primefaces.org/designer/api/primeng/14.0.0/" class="font-medium text-primary hover:underline">SASS API</a> docs.
    </p>

    <h4>TopBar Theme</h4>
    <p>Theming of the topbar has 21 options to choose from, still if you'd like to create your own theme then create a file like <span class="text-primary font-medium">_topbar_mytopbar</span> under <span class="text-primary font-medium">src/assets/layout/styles/layout/topbar/themes</span> folder with the content below using your own values. The style class name
    must begin with <span class="text-primary font-medium">.layout-topbar-</span> prefix.</p>
<pre class="app-code"><code>.layout-topbar-mytheme &#123;
    --topbar-bg: #1565C0;
    --topbar-start-bg: #0D47A1;
    --topbar-menu-button-bg:#FBC02D;
    --topbar-menu-button-hover-bg:#dda928;
    --topbar-menu-button-text-color:#212121;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
&#125;
</code></pre>

    <p>Next step is including your file in <span class="text-primary font-medium">src/assets/layout/styles/topbar/_topbar.scss</span> file.</p>
<pre class="app-code"><code>@import './themes/_topbar_mytopbar';</code></pre>

    <p>Your topbar theme is now ready to use, navigate to AppComponent and set it as the default. See the <b>Default Configuration</b> section for details.</p>
<pre class="app-code"><code>this.layoutService.config = &#123;
    //...
    topbarTheme: "mytheme"
    //...
&#125;;</code></pre>

    <h4>Menu Theme</h4>
    <p>Main menu offers 12 built-in themes and building your own theme is quite trivial. First create a file like <span class="text-primary font-medium">_menu_mymenu</span> under <span class="text-primary font-medium">src/assets/layout/styles/layout/sidebar/themes</span> folder with the content below using your own values. The style class name
        must begin with <span class="text-primary font-medium">.layout-menu-</span> prefix.</p>
<pre class="app-code"><code>.layout-menu-mytheme &#123;
    --menu-bg:#FDFEFF;
    --root-menuitem-text-color:#657380;
    --menuitem-text-color:#515C66;
    --menuitem-hover-bg:rgba(0,0,0,.04);
    --active-menuitem-text-color:var(--primary-500);
    --active-menuitem-bg:var(--primary-50);
    --inline-menu-border-color:#e4e4e4;
&#125;
</code></pre>

    <p>Next step is including your file in <span class="text-primary font-medium">src/assets/layout/styles/sidebar/_sidebar.scss</span> file.</p>
<pre class="app-code"><code>@import './themes/_menu_mymenu.scss';</code></pre>

    <p>Your menu theme is now ready to use, navigate to AppComponent and set it as the default. See the <b>Default Configuration</b> section for details.</p>
<pre class="app-code"><code>this.layoutService.config = &#123;
    //...
    menuTheme: "mytheme"
    //...
&#125;;</code></pre>

    <h4>Migration Guide</h4>
    <p>Every important change is included in <b>CHANGELOG.md</b> file at the root folder of the distribution along with the instructions to update. Whenever a major version of Angular is released, a new version of the template
    is provided that mainly brings compatibility support to the PrimeNG component theming. If there are no compatibility issues on component theming e.g. new components or new functionality to PrimeNG,
    you may still update your application to the latest Angular and PrimeNG without the need to waiting for an update.</p>

    <p>Initial integration with an existing CLI application and the update process is similar. During an update, only the layout folder and layout assets folder need to be updated and overriden, see the "Integration with Existing Angular CLI Projects" section for more information.</p>
</div>
