
<div class=" ">
   <h5 class=" ">Panel - Home Works</h5>
<!--      <div class="grid">-->
<!--         <div class=" col-6 ">-->
<!--               <p-fieldset legend="Header" >-->
<!--                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
<!--                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
<!--                     Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat-->
<!--                     cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
<!--                  </p>-->
<!--                  <p>panel-home works!</p>-->
<!--               </p-fieldset>-->
<!--         </div>-->
<!--         <div class="col-6 ">-->
<!--               <p-fieldset legend="Header" >-->
<!--                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.-->
<!--                     Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.-->
<!--                     Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat-->
<!--                     cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.-->
<!--                  </p>-->
<!--                  <p>panel-home works!</p>-->
<!--               </p-fieldset>-->
<!--         </div>-->
<!--      </div>-->
      <div class="card grid">
            <div class=" col-5" *ngFor="let item of [1,2,3]; index as i"> <!-- satırda kaç kolon olacak -->
               <div class="">
                  <p-fieldset legend="Header" >
                     <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                        cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                     </p>
                  </p-fieldset>
               </div>
            </div>
      </div>
</div>
