.layout-topbar-indigo {
    --topbar-bg: #0288d1;
    --topbar-start-bg: #0288d1;
    --topbar-menu-button-bg: #ffffff;
    --topbar-menu-button-hover-bg: #d3a126;
    --topbar-menu-button-text-color: #212121;
    --topbar-item-text-color: #ffffff;
    --topbar-item-hover-bg: rgba(255,255,255,.12);
}
