<!--<div [formGroup]="formName" class="col" style="display: flex;flex-wrap: wrap">-->
<div [formGroup]="formName" class="" style="" >
<!--vertical-->
<!--    <label class=" " style="margin-bottom: 10px">-->
<!--        {{field.label}}-->
<!--    </label>-->
<!--    <label *ngFor="let option of field.options"class="" >-->

<!--        <label ngFor="let option of field.options" class="field-checkbox " style="cursor: pointer">-->
<!--            <p-radioButton type="radio"-->
<!--                   [name]="field.fieldName"-->
<!--                   [formControlName]="field.fieldName"-->
<!--                   [value]="option.value"-->
<!--            >-->
<!--            </p-radioButton>-->
<!--            {{option.label}}-->
<!--        </label>-->
<!--    </label>-->
<!--    <label class="" style="">-->
<!--        {{field.label}}-->
<!--    </label>-->
    <div *ngIf="!(formName.controls[fieldName].invalid && (formName.controls[fieldName].dirty || formName.controls[fieldName].untouched))" class="">
        <label >{{field.label}}</label>
    </div>
    <div *ngIf="formName.controls[fieldName].invalid && (formName.controls[fieldName].dirty || formName.controls[fieldName].untouched)"
         [class]="'errorMessage'">
        <label>* {{field.label}}</label>
    </div>
    <div class="formgroup-inline">
<!--    <label *ngFor="let option of field.options"class="" >-->
<!---->
        <label *ngFor="let option of field.options" class="field-radiobutton mt-4 mr-2" style="cursor: pointer">
            <p-radioButton type="radio"
                   (ngModelChange)="setValue(option.value)"
                   [name]="field.fieldName"
                   [formControlName]="field.fieldName"
                   [value]="option.value"
            >
            </p-radioButton>
            <label [for]="option.value">{{option.label}}</label>
        </label>
<!--    </label>-->
    </div>
</div>
