<div [formGroup]="formName" class="p-fluid  field " >

    <div   *ngIf="!(formName.controls[fieldName].invalid && (formName.controls[fieldName].dirty ||
    formName.controls[fieldName].untouched))" class="mb-2">
        <label  >{{field.label}}</label>
    </div>
    <div  *ngIf="formName.controls[fieldName].invalid && (formName.controls[fieldName].dirty ||
        formName.controls[fieldName].untouched)"
          [class]="'errorMessage'" class="mb-2" >
        <label>* {{field.label}}</label>
    </div>
    <p-calendar  [formControlName]="field.fieldName" [showIcon]="true" inputId="icon"></p-calendar>
</div>