/* roboto-regular - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"), url("../../fonts/roboto-v20-latin-ext_latin-regular.woff2") format("woff2"), url("../../fonts/roboto-v20-latin-ext_latin-regular.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-500 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  src: local("Roboto Medium"), local("Roboto-Medium"), url("../../fonts/roboto-v20-latin-ext_latin-500.woff2") format("woff2"), url("../../fonts/roboto-v20-latin-ext_latin-500.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-700 - latin-ext_latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../../fonts/roboto-v20-latin-ext_latin-700.woff2") format("woff2"), url("../../fonts/roboto-v20-latin-ext_latin-700.woff") format("woff");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
h1, h2, h3, h4, h5, h6 {
  margin: 1.5rem 0 1rem 0;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.2;
  color: inherit;
}
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
  margin-top: 0;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

mark {
  background: #FFF8E1;
  padding: 0.25rem 0.4rem;
  border-radius: var(--border-radius);
  font-family: monospace;
}

blockquote {
  margin: 1rem 0;
  padding: 0 2rem;
  border-left: 4px solid #90A4AE;
}

hr {
  border-top: solid var(--surface-border);
  border-width: 1px 0 0 0;
  margin: 1rem 0;
}

p {
  margin: 0 0 1rem 0;
  line-height: 1.5;
}
p:last-child {
  margin-bottom: 0;
}

@keyframes overlayEnter {
  from {
    opacity: 0;
    transform: scaleY(0.8);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@keyframes fadeOutUp {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: translate3d(0, -20px, 0);
  }
}
@keyframes fadeinmask {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.8;
  }
}
.fadeInDown {
  animation-name: fadeInDown;
}

.fadeOutUp {
  animation-name: fadeOutUp;
}

@keyframes modal-in {
  from {
    background-color: transparent;
  }
  to {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
.modal-in {
  animation-name: modal-in;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
/* Utils */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

*[hidden] {
  display: none;
}

.p-lh {
  line-height: 1.5;
}

.card {
  background-color: var(--surface-card);
  padding: 1rem;
  margin-bottom: 2rem;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: var(--border-radius);
}
.card:last-child {
  margin-bottom: 0;
}
.card .card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.card .card-header h1, .card .card-header h2, .card .card-header h3, .card .card-header h4, .card .card-header h5, .card .card-header h6 {
  margin: 0;
}
.card .card-subtitle {
  color: var(--text-color-secondary);
  font-weight: 600;
  margin: -1rem 0 1rem 0;
}

.p-toast.p-toast-top-right, .p-toast.p-toast-top-left, .p-toast.p-toast-top-center {
  top: 85px;
}

body .p-overlay-badge {
  position: relative;
}
body .p-overlay-badge .p-badge {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  transform-origin: 100% 0;
  margin: 0;
}

/*.height-100 {
    height: 100% !important;
}

.width-100 {
    width: 100% !important;
}

.fs-xsmall {
    font-size: .715rem !important;
}

.fs-small {
    font-size: .858rem !important;
}

.fs-normal {
    font-size: 1rem !important;
}

.fs-large {
    font-size: 1.5rem !important;
}

.fs-xlarge {
    font-size: 2rem !important;
}

.fs-xxlarge {
    font-size: 3rem !important;
}

.fw-400 {
    font-weight: 400 !important;
}

.fw-500 {
    font-weight: 500 !important;
}

.fw-700 {
    font-weight: 700 !important;
}

.rounded-small {
    border-radius: 2px !important;
}

.rounded-normal {
    border-radius: 4px !important;
}

.rounded-large {
    border-radius: 6px !important;
}

.rounded-circle {
    border-radius: 50% !important;
}

.rounded-none {
    border-radius: 0 !important;
}

.divider-top {
    border-top: 1px solid var(--surface-border) !important;
}

.divider-bottom {
    border-bottom: 1px solid var(--surface-border) !important;
}

.divider-left {
    border-left: 1px solid var(--surface-border) !important;
}

.divider-right {
    border-right: 1px solid var(--surface-border) !important;
}

.muted-text {
    color: var(--text-color-secondary) !important;
}

.text-color {
    color: var(--text-color) !important;
}

.solid-surface-text-color {
    color: $solidSurfaceTextColor !important;
}

.white-color {
    color: #ffffff !important;
}

.dark-color {
    color: #212121 !important;
}

.pink-color {
    color: $pink !important;
}

.indigo-color {
    color: $indigo !important;
}

.yellow-color {
    color: $yellow !important;
}

.orange-color {
    color: $orange !important;
}

.teal-color {
    color: $teal !important;
}

.cyan-color {
    color: $cyan !important;
}

.bluegrey-color {
    color: $bluegrey !important;
}

.purple-color {
    color: $purple !important;
}

.deeppurple-color {
    color: $deeppurple !important;
}

.blue-color {
    color: $blue !important;
}

.lightblue-color {
    color: $lightblue !important;
}

.green-color {
    color: $green !important;
}

.lightgreen-color {
    color: $lightgreen !important;
}

.lime-color {
    color: $lime !important;
}

.deeporange-color {
    color: $deeporange !important;
}

.brown-color {
    color: $brown !important;
}

.content-bgcolor {
    background-color: var(--surface-card) !important;
}

.content-alt-bgcolor {
    background-color: $contentAltBgColor !important;
}

.pink-bgcolor {
    background-color: $pink !important;
}

.indigo-bgcolor {
    background-color: $indigo !important;
}

.yellow-bgcolor {
    background-color: $yellow !important;
}

.orange-bgcolor {
    background-color: $orange !important;
}

.teal-bgcolor {
    background-color: $teal !important;
}

.cyan-bgcolor {
    background-color: $cyan !important;
}

.bluegrey-bgcolor {
    background-color: $bluegrey !important;
}

.purple-bgcolor {
    background-color: $purple !important;
}

.deeppurple-bgcolor {
    background-color: $deeppurple !important;
}

.blue-bgcolor {
    background-color: $blue !important;
}

.lightblue-bgcolor {
    background-color: $lightblue !important;
}

.green-bgcolor {
    background-color: $green !important;
}

.lightgreen-bgcolor {
    background-color: $lightgreen !important;
}

.lime-bgcolor {
    background-color: $lime !important;
}

.deeporange-bgcolor {
    background-color: $deeporange !important;
}

.brown-bgcolor {
    background-color: $brown !important;
}

.badge-dot {
    width: .5rem;
    min-width: .5rem;
    height: .5rem;
    border-radius: 50%;
    padding: 0;
}*/
.layout-container.layout-rtl {
  direction: rtl;
}
.layout-container.layout-rtl .menu-wrapper {
  left: auto;
  right: 0;
}
.layout-container.layout-rtl .menu-wrapper .layout-menu-container .layout-menu li.layout-root-menuitem > div {
  padding-left: 0;
  padding-right: 1rem;
}
.layout-container.layout-rtl .menu-wrapper .layout-menu-container .layout-menu li > a .p-badge,
.layout-container.layout-rtl .menu-wrapper .layout-menu-container .layout-menu li > a .layout-submenu-toggler {
  margin-left: 0;
  margin-right: auto;
}
.layout-container.layout-rtl .menu-wrapper .layout-menu-container .layout-menu li > a .layout-menuitem-text {
  margin-right: 0.75rem;
  margin-left: 0;
}
.layout-container.layout-rtl .menu-wrapper .layout-menu-container .layout-menu li > ul > li ul li a {
  padding-left: 0.5rem;
  padding-right: 1.75rem;
}
.layout-container.layout-rtl .menu-wrapper .layout-menu-container .layout-menu li > ul > li ul li ul li a {
  padding-left: 0.5rem;
  padding-right: 2.625rem;
}
.layout-container.layout-rtl .menu-wrapper .layout-menu-container .layout-menu li > ul > li ul li ul li ul li a {
  padding-left: 0.5rem;
  padding-right: 3.5rem;
}
.layout-container.layout-rtl .menu-wrapper .layout-menu-container .layout-menu li > ul > li ul li ul li ul li ul li a {
  padding-left: 0.5rem;
  padding-right: 4.375rem;
}
.layout-container.layout-rtl .menu-wrapper .layout-inline-menu .layout-inline-menu-action-panel .layout-inline-menu-action-item a i {
  margin-right: 0;
  margin-left: 0.75rem;
}
.layout-container.layout-rtl .layout-topbar .layout-topbar-left .layout-menu-button > i {
  transform: rotate(180deg);
}
@media (min-width: 993px) {
  .layout-container.layout-rtl.layout-menu-horizontal .menu-wrapper .layout-menu-container .layout-menu > li > ul {
    left: auto;
    right: 0;
  }
  .layout-container.layout-rtl.layout-menu-overlay .menu-wrapper {
    transform: translate3d(17rem, 0px, 0px);
  }
  .layout-container.layout-rtl.layout-menu-overlay.layout-menu-active .menu-wrapper {
    transform: translate3d(0px, 0px, 0px);
  }
  .layout-container.layout-rtl.layout-menu-overlay.layout-menu-active .layout-topbar .layout-topbar-left .layout-menu-button > i {
    transform: rotate(0deg);
  }
  .layout-container.layout-rtl.layout-menu-slim .menu-wrapper .layout-menu-container .layout-menu > li > ul {
    left: auto;
    right: 4.5rem;
  }
  .layout-container.layout-rtl.layout-menu-slim.layout-container .layout-main {
    margin-left: 0;
    margin-right: 4.5rem;
  }
  .layout-container.layout-rtl.layout-menu-static .menu-wrapper {
    transform: translate3d(17rem, 0px, 0px);
  }
  .layout-container.layout-rtl.layout-menu-static .layout-main {
    transition: margin-right var(--transition-duration);
  }
  .layout-container.layout-rtl.layout-menu-static.layout-menu-active .menu-wrapper {
    transform: translate3d(0px, 0px, 0px);
  }
  .layout-container.layout-rtl.layout-menu-static.layout-menu-active .layout-topbar .layout-topbar-left .layout-menu-button > i {
    transform: rotate(0deg);
  }
  .layout-container.layout-rtl.layout-menu-static.layout-menu-active .layout-main {
    margin-left: 0;
    margin-right: 17rem;
  }
}
@media (max-width: 992px) {
  .layout-container.layout-rtl .menu-wrapper {
    transform: translate3d(17rem, 0px, 0px);
  }
  .layout-container.layout-rtl.layout-menu-mobile-active .menu-wrapper {
    transform: translate3d(0px, 0px, 0px);
  }
  .layout-container.layout-rtl.layout-menu-mobile-active .layout-topbar .layout-topbar-left .layout-menu-button > i {
    transform: rotate(0deg);
  }
}

.layout-container.layout-rtl {
  direction: rtl;
}
.layout-container.layout-rtl .layout-topbar {
  left: auto;
  right: 0;
}
.layout-container.layout-rtl .layout-topbar .layout-topbar-left .layout-topbar-logo {
  padding-right: 0;
  padding-left: 1.25rem;
}
.layout-container.layout-rtl .layout-topbar .layout-topbar-left .layout-menu-button {
  left: auto;
  right: 15.75rem;
}
.layout-container.layout-rtl .layout-topbar .layout-topbar-left .layout-topbar-mobile-button {
  margin: 0 auto 0 0.5rem;
}
.layout-container.layout-rtl .layout-topbar .layout-topbar-right {
  padding-left: 0;
  padding-right: 2rem;
}
.layout-container.layout-rtl .layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item .layout-topbar-action-panel {
  right: auto;
  left: 0;
}
.layout-container.layout-rtl .layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel {
  left: auto;
  right: 0;
}
.layout-container.layout-rtl .layout-topbar .layout-topbar-right .layout-topbar-actions-left .layout-megamenu.p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link .p-submenu-icon {
  margin-left: 0;
  margin-right: 0.5rem;
}
@media (max-width: 992px) {
  .layout-container.layout-rtl .layout-topbar .layout-topbar-right .layout-topbar-actions-left .layout-megamenu .p-megamenu-panel {
    left: 1rem;
    right: 1rem;
  }
  .layout-container.layout-rtl .layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item .layout-topbar-action-panel {
    left: 1em;
    right: 1em;
  }
}

.layout-container.layout-rtl .layout-megamenu.p-megamenu .p-menuitem-link .p-menuitem-icon {
  margin-right: 0;
  margin-left: 0.5rem;
}
.layout-container.layout-rtl .layout-config-button.p-button {
  right: auto;
  left: 0;
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.layout-container.layout-rtl .layout-config-button.p-button .p-button-icon {
  font-size: 2rem;
}
.layout-container.layout-rtl .widget-bestsellers > li .bestseller-item .item-button {
  margin-left: 0;
  margin-right: auto;
}
.layout-container.layout-rtl .widget-chat .write-message .p-inputgroup-addon:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-left-width: 0;
}
.layout-container.layout-rtl .widget-chat .write-message .p-inputgroup-addon:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.layout-topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;
  width: 100%;
  height: 4rem;
  transition: width var(--transition-duration);
  display: flex;
}
.layout-topbar ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style-type: none;
}
.layout-topbar .layout-topbar-left {
  display: flex;
  align-items: center;
  height: 100%;
  position: relative;
}
.layout-topbar .layout-topbar-left .layout-topbar-logo {
  width: 17rem;
  height: 100%;
  padding-right: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout-topbar .layout-topbar-left .layout-menu-button {
  position: absolute;
  top: 50%;
  left: 15.75rem;
  width: 2.5rem;
  height: 2.5rem;
  margin-top: -1.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 50%;
}
.layout-topbar .layout-topbar-left .layout-menu-button i {
  transition: transform var(--transition-duration);
}
.layout-topbar .layout-topbar-left .layout-topbar-mobile-button {
  display: none;
  align-items: center;
  padding: 0 0.8rem;
  margin: 0 0.5rem 0 auto;
  border-radius: 50%;
  height: 3.2rem;
  cursor: pointer;
}
.layout-topbar .layout-topbar-right {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  height: 100%;
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-left {
  display: flex;
  align-items: center;
  height: 100%;
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right {
  height: 100%;
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100%;
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item {
  display: flex;
  align-items: center;
  position: relative;
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item .layout-topbar-action {
  user-select: none;
  padding: 0 0.8rem;
  margin: 0 0.4rem;
  border-radius: 4px;
  height: 3.2rem;
  min-width: 3.2rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item .layout-topbar-action-panel {
  position: absolute;
  top: 4rem;
  right: 0;
  z-index: 1000;
  min-width: 25rem;
  padding: 1rem 0;
  transform-origin: top;
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item .layout-topbar-action-panel .layout-topbar-action-item {
  cursor: pointer;
  padding: 1rem;
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel {
  height: 4rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transform-origin: top;
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel input {
  border-radius: 0;
  border: 0 none;
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel input:focus {
  outline: 0 none;
  box-shadow: none;
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel i {
  font-weight: bold;
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel .p-inputgroup-addon {
  border: 0 none;
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel .p-inputgroup-addon:first-child,
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel .p-inputgroup button:first-child,
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel .p-inputgroup input:first-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel .p-inputgroup-addon:last-child,
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel .p-inputgroup button:last-child,
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel .p-inputgroup input:last-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

@media (max-width: 992px) {
  .layout-topbar {
    height: auto;
    display: flex;
    flex-direction: column;
  }
  .layout-topbar .layout-topbar-left {
    height: 4rem;
    width: 100%;
    justify-content: flex-start;
  }
  .layout-topbar .layout-topbar-left .layout-topbar-mobile-button {
    display: flex;
  }
  .layout-topbar .layout-topbar-right {
    display: none;
    flex-direction: column-reverse;
    padding: 0;
    transform-origin: top;
    animation-name: overlayEnter;
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    animation-duration: 0.12s;
  }
  .layout-topbar .layout-topbar-right.layout-topbar-mobile-active {
    display: flex;
  }
  .layout-topbar .layout-topbar-right .layout-topbar-actions-left {
    height: 4rem;
    display: flex;
    justify-content: space-between;
  }
  .layout-topbar .layout-topbar-right .layout-topbar-actions-left .layout-megamenu .p-megamenu-panel {
    position: fixed;
    left: 1rem;
    right: 1rem;
    max-height: calc(100vh - 168px);
    overflow-y: scroll;
  }
  .layout-topbar .layout-topbar-right .layout-topbar-actions-left .layout-megamenu .p-megamenu-panel .p-megamenu-grid {
    flex-wrap: wrap;
  }
  .layout-topbar .layout-topbar-right .layout-topbar-actions-left .layout-megamenu .p-megamenu-panel .p-megamenu-grid > [class*=p-megamenu-col-] {
    flex: 1 1 auto;
    width: auto;
  }
  .layout-topbar .layout-topbar-right .layout-topbar-actions-left .layout-megamenu .p-megamenu-panel .p-megamenu-grid .p-megamenu-submenu {
    width: auto;
    min-width: 12.5rem;
  }
  .layout-topbar .layout-topbar-right .layout-topbar-actions-right {
    height: 4rem;
    width: 100%;
  }
  .layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items {
    width: 100%;
    justify-content: space-between;
  }
  .layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item .layout-topbar-action-panel {
    position: fixed;
    top: 8rem;
    left: 1em;
    right: 1em;
  }
}
@media (min-width: 993px) {
  .layout-menu-horizontal .layout-topbar .layout-topbar-left .layout-menu-button,
.layout-menu-slim .layout-topbar .layout-topbar-left .layout-menu-button {
    display: none;
  }
}
.layout-topbar-blue {
  --topbar-bg: #1565C0;
  --topbar-start-bg: #0D47A1;
  --topbar-menu-button-bg:#FBC02D;
  --topbar-menu-button-hover-bg:#FBC02D;
  --topbar-menu-button-text-color:#212121;
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(255,255,255,.12);
}

.layout-topbar-lightblue {
  --topbar-bg: #0288D1;
  --topbar-start-bg: #0277BD;
  --topbar-menu-button-bg:#FDD835;
  --topbar-menu-button-hover-bg:#FDD835;
  --topbar-menu-button-text-color:#212121;
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(255,255,255,.12);
}

.layout-topbar-white {
  --topbar-bg: #ffffff;
  --topbar-start-bg: #ffffff;
  --topbar-menu-button-bg:var(--primary-color);
  --topbar-menu-button-hover-bg:var(--primary-color);
  --topbar-menu-button-text-color:var(--primary-color-text);
  --topbar-item-text-color: #616161;
  --topbar-item-hover-bg: rgba(0,0,0,.12);
}

.layout-topbar-dark {
  --topbar-bg: #1e1e1e;
  --topbar-start-bg: #1e1e1e;
  --topbar-menu-button-bg:#E91E63;
  --topbar-menu-button-hover-bg:#E91E63;
  --topbar-menu-button-text-color:#ffffff;
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(255,255,255,.12);
}

.layout-topbar-deeppurple {
  --topbar-bg: #4527A0;
  --topbar-start-bg: #311B92;
  --topbar-menu-button-bg:#F9A825;
  --topbar-menu-button-hover-bg:#F9A825;
  --topbar-menu-button-text-color:#212121;
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(255,255,255,.12);
}

.layout-topbar-purple {
  --topbar-bg: #6A1B9A;
  --topbar-start-bg: #4A148C;
  --topbar-menu-button-bg:#F9A825;
  --topbar-menu-button-hover-bg:#F9A825;
  --topbar-menu-button-text-color:#212121;
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(255,255,255,.12);
}

.layout-topbar-pink {
  --topbar-bg: #AD1457;
  --topbar-start-bg: #880E4F;
  --topbar-menu-button-bg:#F9A825;
  --topbar-menu-button-hover-bg:#F9A825;
  --topbar-menu-button-text-color:#212121;
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(255,255,255,.12);
}

.layout-topbar-cyan {
  --topbar-bg: #0097A7;
  --topbar-start-bg: #006064;
  --topbar-menu-button-bg:#E64A19;
  --topbar-menu-button-hover-bg:#E64A19;
  --topbar-menu-button-text-color:#ffffff;
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(103, 66, 66, 0.12);
}

.layout-topbar-teal {
  --topbar-bg: #00796B;
  --topbar-start-bg: #004D40;
  --topbar-menu-button-bg:#D32F2F;
  --topbar-menu-button-hover-bg:#D32F2F;
  --topbar-menu-button-text-color:#ffffff;
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(255,255,255,.12);
}

.layout-topbar-green {
  --topbar-bg: #43A047;
  --topbar-start-bg: #2E7D32;
  --topbar-menu-button-bg:#F4511E;
  --topbar-menu-button-hover-bg:#F4511E;
  --topbar-menu-button-text-color:#ffffff;
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(255,255,255,.12);
}

.layout-topbar-lightgreen {
  --topbar-bg: #689F38;
  --topbar-start-bg: #558B2F;
  --topbar-menu-button-bg:#F57C00;
  --topbar-menu-button-hover-bg:#F57C00;
  --topbar-menu-button-text-color:#ffffff;
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(255,255,255,.12);
}

.layout-topbar-lime {
  --topbar-bg: #AFB42B;
  --topbar-start-bg: #9E9D24;
  --topbar-menu-button-bg:#F57C00;
  --topbar-menu-button-hover-bg:#F57C00;
  --topbar-menu-button-text-color:#212121;
  --topbar-item-text-color: #212121;
  --topbar-item-hover-bg: rgba(0,0,0,.12);
}

.layout-topbar-yellow {
  --topbar-bg: #FBC02D;
  --topbar-start-bg: #F9A825;
  --topbar-menu-button-bg:#212121;
  --topbar-menu-button-hover-bg:#212121;
  --topbar-menu-button-text-color:#ffffff;
  --topbar-item-text-color: #212121;
  --topbar-item-hover-bg: rgba(0,0,0,.12);
}

.layout-topbar-amber {
  --topbar-bg: #FFA000;
  --topbar-start-bg: #FF8F00;
  --topbar-menu-button-bg:#212121;
  --topbar-menu-button-hover-bg:#212121;
  --topbar-menu-button-text-color:#ffffff;
  --topbar-item-text-color: #212121;
  --topbar-item-hover-bg: rgba(0,0,0,.12);
}

.layout-topbar-orange {
  --topbar-bg: #FB8C00;
  --topbar-start-bg: #EF6C00;
  --topbar-menu-button-bg:#212121;
  --topbar-menu-button-hover-bg:#212121;
  --topbar-menu-button-text-color:#ffffff;
  --topbar-item-text-color: #212121;
  --topbar-item-hover-bg:rgba(0,0,0,.12);
}

.layout-topbar-deeporange {
  --topbar-bg: #D84315;
  --topbar-start-bg: #BF360C;
  --topbar-menu-button-bg:#00BCD4;
  --topbar-menu-button-hover-bg:#00BCD4;
  --topbar-menu-button-text-color:#212121;
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(255,255,255,.12);
}

.layout-topbar-brown {
  --topbar-bg: #5D4037;
  --topbar-start-bg: #4E342E;
  --topbar-menu-button-bg:#F9A825;
  --topbar-menu-button-hover-bg:#F9A825;
  --topbar-menu-button-text-color:#212121;
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(255,255,255,.12);
}

.layout-topbar-grey {
  --topbar-bg: #616161;
  --topbar-start-bg: #424242;
  --topbar-menu-button-bg:#0097A7;
  --topbar-menu-button-hover-bg:#0097A7;
  --topbar-menu-button-text-color:#ffffff;
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(255,255,255,.12);
}

.layout-topbar-bluegrey {
  --topbar-bg: #546E7A;
  --topbar-start-bg: #37474F;
  --topbar-menu-button-bg:#0097A7;
  --topbar-menu-button-hover-bg:#0097A7;
  --topbar-menu-button-text-color:#ffffff;
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(255,255,255,.12);
}

.layout-topbar-indigo {
  --topbar-bg: #3F51B5;
  --topbar-start-bg: #283593;
  --topbar-menu-button-bg:#E91E63;
  --topbar-menu-button-hover-bg:#E91E63;
  --topbar-menu-button-text-color:#ffffff;
  --topbar-item-text-color: #ffffff;
  --topbar-item-hover-bg: rgba(255,255,255,.12);
}

.layout-topbar {
  color: var(--topbar-item-text-color);
  background-color: var(--topbar-bg);
}
.layout-topbar a {
  color: var(--topbar-item-text-color);
}
.layout-topbar a:hover {
  background-color: var(--topbar-item-hover-bg);
  transition: background-color var(--transition-duration);
}
.layout-topbar .layout-topbar-left {
  background-color: var(--topbar-start-bg);
}
.layout-topbar .layout-topbar-left .layout-menu-button {
  color: var(--topbar-menu-button-text-color);
  background-color: var(--topbar-menu-button-bg);
}
.layout-topbar .layout-topbar-left .layout-menu-button:hover {
  background-color: var(--topbar-menu-button-hover-bg);
  transition: background-color var(--transition-duration);
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-left .layout-megamenu {
  background: none;
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-left .layout-megamenu.p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text,
.layout-topbar .layout-topbar-right .layout-topbar-actions-left .layout-megamenu.p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon,
.layout-topbar .layout-topbar-right .layout-topbar-actions-left .layout-megamenu.p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link .p-submenu-icon {
  color: var(--topbar-item-text-color);
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-left .layout-megamenu.p-megamenu .p-megamenu-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover {
  background: var(--topbar-item-hover-bg);
  transition: background-color var(--transition-duration);
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-action-panel {
  background-color: var(--surface-overlay);
  color: var(--text-color);
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-action-panel a {
  color: var(--text-color);
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-action-panel a:hover {
  background-color: transparent;
  transition: none;
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-action-panel .layout-topbar-action-item:hover {
  background-color: var(--surface-hover);
  transition: background-color var(--transition-duration);
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel input {
  background-color: var(--surface-ground);
  color: var(--text-color);
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel input:hover {
  background-color: var(--surface-ground);
  color: var(--text-color);
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel .p-inputgroup-addon:first-child,
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel .p-inputgroup button:first-child,
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel .p-inputgroup input:first-child {
  background-color: var(--surface-ground);
  color: var(--text-color);
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel .p-inputgroup-addon:last-child,
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel .p-inputgroup button:last-child,
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel .p-inputgroup input:last-child {
  background-color: var(--surface-ground);
  color: var(--text-color);
}
.layout-topbar .layout-topbar-right .layout-topbar-actions-right .layout-topbar-items .layout-topbar-item.layout-search-item .layout-search-panel .p-inputgroup-addon .p-button-text {
  color: var(--text-color);
}

.layout-rightmenu.p-sidebar {
  top: 4rem;
  height: calc(100% - 4rem);
  overflow: auto;
  transition: transform var(--transition-duration);
}
.layout-rightmenu.p-sidebar .p-sidebar-header,
.layout-rightmenu.p-sidebar .p-sidebar-content {
  padding: 0;
}
.layout-rightmenu .online-members img:hover {
  cursor: pointer;
}
.layout-rightmenu .next-events li {
  border-radius: var(--border-radius);
}
.layout-rightmenu .next-events li:hover {
  background-color: var(--surface-hover);
  cursor: pointer;
}

@media (max-width: 992px) {
  .layout-container.layout-topbar-mobile-active .layout-rightmenu {
    top: 12rem;
    height: calc(100% - 12rem);
  }
}
.menu-wrapper {
  height: calc(100% - 4rem);
  width: 17rem;
  position: fixed;
  left: 0;
  top: 4rem;
  z-index: 997;
  transform: none;
}
.menu-wrapper ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style-type: none;
}
.menu-wrapper .layout-menu-container {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.menu-wrapper .layout-menu-container app-sidebar {
  overflow-y: auto;
}
.menu-wrapper .layout-menu-container .layout-menu {
  padding-bottom: 2rem;
}
.menu-wrapper .layout-menu-container .layout-menu li {
  border-radius: 4px;
}
.menu-wrapper .layout-menu-container .layout-menu li.layout-root-menuitem > a {
  display: none;
}
.menu-wrapper .layout-menu-container .layout-menu li.layout-root-menuitem > div {
  padding-left: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1.5rem;
}
.menu-wrapper .layout-menu-container .layout-menu li.layout-root-menuitem > div > .layout-menuitem-text {
  font-size: 0.857rem;
  font-weight: 600;
  text-transform: uppercase;
}
.menu-wrapper .layout-menu-container .layout-menu li > a {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
  transition: background-color var(--transition-duration), color var(--transition-duration);
}
.menu-wrapper .layout-menu-container .layout-menu li > a .layout-menuitem-text {
  margin-left: 0.75rem;
}
.menu-wrapper .layout-menu-container .layout-menu li > a .p-badge {
  margin-left: auto;
  min-width: 1.143rem;
  height: 1.143rem;
  line-height: 1.143rem;
}
.menu-wrapper .layout-menu-container .layout-menu li > a .layout-submenu-toggler {
  margin-left: auto;
}
.menu-wrapper .layout-menu-container .layout-menu li > a.rotated-icon .layout-menuitem-icon {
  transform: rotate(90deg);
}
.menu-wrapper .layout-menu-container .layout-menu li > a .p-badge + .layout-submenu-toggler {
  margin-left: 0.5rem;
}
.menu-wrapper .layout-menu-container .layout-menu li.active-menuitem > a .layout-submenu-toggler {
  transition: all var(--transition-duration);
  transform: rotate(-180deg);
}
.menu-wrapper .layout-menu-container .layout-menu li > ul {
  padding: 0 0.5rem;
}
.menu-wrapper .layout-menu-container .layout-menu li > ul li ul {
  padding: 0 0 0.25rem;
  overflow: hidden;
}
.menu-wrapper .layout-menu-container .layout-menu li > ul > li {
  margin-top: 0.2rem;
}
.menu-wrapper .layout-menu-container .layout-menu li > ul > li.layout-root-menuitem > a {
  display: flex;
}
.menu-wrapper .layout-menu-container .layout-menu li > ul > li ul li a {
  padding-left: 1.75rem;
}
.menu-wrapper .layout-menu-container .layout-menu li > ul > li ul li ul li a {
  padding-left: 2.625rem;
}
.menu-wrapper .layout-menu-container .layout-menu li > ul > li ul li ul li ul li a {
  padding-left: 3.5rem;
}
.menu-wrapper .layout-menu-container .layout-menu li > ul > li ul li ul li ul li ul li a {
  padding-left: 4.375rem;
}

@media (min-width: 993px) {
  .layout-menu-static .menu-wrapper {
    transform: translate3d(-17rem, 0px, 0px);
    transition: transform var(--transition-duration);
  }
  .layout-menu-static .layout-main {
    transition: margin-left var(--transition-duration);
  }
  .layout-menu-static.layout-menu-active .menu-wrapper {
    transform: translate3d(0px, 0px, 0px);
  }
  .layout-menu-static.layout-menu-active .layout-topbar .layout-topbar-left .layout-menu-button > i {
    transform: rotate(180deg);
  }
  .layout-menu-static.layout-menu-active .layout-main {
    margin-left: 17rem;
  }
}
@media (min-width: 993px) {
  .layout-menu-overlay .menu-wrapper {
    transform: translate3d(-17rem, 0px, 0px);
    transition-duration: 150ms;
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
  .layout-menu-overlay.layout-menu-active .menu-wrapper {
    transform: translate3d(0px, 0px, 0px);
  }
  .layout-menu-overlay.layout-menu-active .layout-topbar .layout-topbar-left .layout-menu-button > i {
    transform: rotate(180deg);
  }
  .layout-menu-overlay .layout-topbar .layout-topbar-wrapper .layout-topbar-right .menu-button {
    display: flex;
  }
}
@media (min-width: 993px) {
  .layout-menu-horizontal .menu-wrapper {
    width: 100%;
    height: 6rem;
  }
  .layout-menu-horizontal .menu-wrapper .layout-menu-container {
    flex-direction: row;
  }
  .layout-menu-horizontal .menu-wrapper .layout-menu-container app-sidebar {
    overflow-y: visible;
    flex-grow: 1;
  }
  .layout-menu-horizontal .menu-wrapper .layout-menu-container .layout-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    margin: 0px 1rem;
    flex-wrap: wrap;
    padding-bottom: 0px;
  }
  .layout-menu-horizontal .menu-wrapper .layout-menu-container .layout-menu > li {
    position: relative;
  }
  .layout-menu-horizontal .menu-wrapper .layout-menu-container .layout-menu > li > a {
    margin-right: 1rem;
    display: flex;
    align-items: center;
  }
  .layout-menu-horizontal .menu-wrapper .layout-menu-container .layout-menu > li.layout-root-menuitem > div {
    display: none;
  }
  .layout-menu-horizontal .menu-wrapper .layout-menu-container .layout-menu > li > ul {
    display: none;
    position: absolute;
    top: 2.75rem;
    left: 0px;
    z-index: 100;
    padding: 0.5rem;
    overflow: auto;
    max-height: 32rem;
    min-width: 16rem;
    border-radius: var(--border-radius);
  }
  .layout-menu-horizontal .menu-wrapper .layout-menu-container .layout-menu > li.active-menuitem > ul {
    display: block;
  }
  .layout-menu-horizontal .menu-wrapper .layout-menu-container .layout-inline-menu {
    border: 0 none;
  }
  .layout-menu-horizontal .menu-wrapper .layout-menu-container .layout-inline-menu > .layout-inline-menu-action {
    height: 3rem;
  }
  .layout-menu-horizontal.layout-container .layout-main {
    padding-top: 7rem;
  }
  .layout-menu-horizontal .layout-breadcrumb-container {
    margin-top: 3rem;
  }
}
@media (min-width: 993px) {
  .layout-menu-slim .menu-wrapper {
    width: 4.5rem;
  }
  .layout-menu-slim .menu-wrapper .layout-menu-container app-sidebar {
    overflow-y: visible;
    flex-grow: 1;
  }
  .layout-menu-slim .menu-wrapper .layout-menu-container .layout-menu {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
  }
  .layout-menu-slim .menu-wrapper .layout-menu-container .layout-menu > li {
    position: relative;
  }
  .layout-menu-slim .menu-wrapper .layout-menu-container .layout-menu > li > a {
    display: flex;
    justify-content: center;
  }
  .layout-menu-slim .menu-wrapper .layout-menu-container .layout-menu > li > a i {
    font-size: 1.5rem;
  }
  .layout-menu-slim .menu-wrapper .layout-menu-container .layout-menu > li > a .layout-submenu-toggler,
.layout-menu-slim .menu-wrapper .layout-menu-container .layout-menu > li > a .layout-menuitem-text {
    display: none;
  }
  .layout-menu-slim .menu-wrapper .layout-menu-container .layout-menu > li.layout-root-menuitem > div {
    display: none;
  }
  .layout-menu-slim .menu-wrapper .layout-menu-container .layout-menu > li > ul {
    display: none;
    position: absolute;
    top: 0;
    left: 4.5rem;
    z-index: 100;
    padding: 0.5rem;
    overflow: auto;
    max-height: 32rem;
    min-width: 16.5rem;
    border-radius: 2px;
  }
  .layout-menu-slim .menu-wrapper .layout-menu-container .layout-menu > li.active-menuitem > ul {
    display: block;
  }
  .layout-menu-slim .menu-wrapper .layout-menu-container .layout-inline-menu {
    height: 100%;
  }
  .layout-menu-slim .menu-wrapper .layout-menu-container .layout-inline-menu .layout-inline-menu-action-panel {
    padding: 0;
  }
  .layout-menu-slim.layout-container .layout-main {
    margin-left: 4.5rem;
  }
}
.menu-wrapper .layout-inline-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-width: 1px 0 1px 0;
  border-style: solid;
}
.menu-wrapper .layout-inline-menu.layout-inline-menu-active .layout-inline-menu-icon {
  transform: rotate(-180deg);
}
.menu-wrapper .layout-inline-menu .layout-inline-menu-action {
  cursor: pointer;
}
.menu-wrapper .layout-inline-menu .layout-inline-menu-action-panel {
  padding: 0 0.5rem;
  transform-origin: top;
}
.menu-wrapper .layout-inline-menu .layout-inline-menu-action-panel .layout-inline-menu-action-item {
  margin-top: 0.2rem;
  border-radius: var(--border-radius);
  transition: all var(--transition-duration);
  cursor: pointer;
  user-select: none;
}
.menu-wrapper .layout-inline-menu .layout-inline-menu-action-panel .layout-inline-menu-action-item:last-child {
  margin-bottom: 0.5rem;
}
.menu-wrapper .layout-inline-menu .layout-inline-menu-action-panel .layout-inline-menu-action-item a {
  padding: 0.75rem;
}
.menu-wrapper .layout-inline-menu .layout-inline-menu-action-panel .layout-inline-menu-action-item a i {
  margin-right: 0.75rem;
}

@media (max-width: 992px) {
  .layout-container .menu-wrapper {
    top: 4rem;
    height: calc(100% - 4rem);
    transform: translate3d(-17rem, 0px, 0px);
    transition: transform var(--transition-duration);
    transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
  }
  .layout-container.layout-topbar-mobile-active .menu-wrapper {
    top: 12rem;
    height: calc(100% - 12rem);
  }
  .layout-container.layout-menu-mobile-active {
    overflow: hidden;
    height: 100vh;
  }
  .layout-container.layout-menu-mobile-active .menu-wrapper {
    transform: translate3d(0px, 0px, 0px);
  }
  .layout-container.layout-menu-mobile-active .layout-topbar .layout-topbar-left .layout-menu-button > i {
    transform: rotate(180deg);
  }
  .layout-container.layout-menu-mobile-active .layout-mask {
    display: block;
  }
}
.layout-menu-light {
  --menu-bg:#FDFEFF;
  --root-menu-text-color:#657380;
  --menuitem-text-color:#515C66;
  --menuitem-hover-bg:rgba(0,0,0,.04);
  --active-menuitem-text-color:var(--primary-500);
  --active-menuitem-bg:var(--primary-50);
  --inline-menu-border-color:#e4e4e4;
}

.layout-menu-dark {
  --menu-bg:#1e1e1e;
  --root-menu-text-color:rgba(255,255,255,.60);
  --menuitem-text-color:rgba(255,255,255,.87);
  --menuitem-hover-bg:hsla(0,0%,100%,.04);
  --active-menuitem-text-color:rgba(255,255,255,.87);
  --active-menuitem-bg:hsla(0,0%,100%,.04);
  --inline-menu-border-color:hsla(0,0%,100%,.12);
}

.layout-menu-indigo {
  --menu-bg:#1A237E;
  --root-menu-text-color:#ffffff;
  --menuitem-text-color:rgba(255,255,255,.6);
  --menuitem-hover-bg:rgba(255,255,255,.12);
  --active-menuitem-text-color:#ffffff;
  --active-menuitem-bg:rgba(255,255,255,.24);
  --inline-menu-border-color:rgba(255,255,255,.24);
}

.layout-menu-bluegrey {
  --menu-bg:#37474F;
  --root-menu-text-color:#ffffff;
  --menuitem-text-color:rgba(255,255,255,.6);
  --menuitem-hover-bg:rgba(255,255,255,.12);
  --active-menuitem-text-color:#ffffff;
  --active-menuitem-bg:rgba(255,255,255,.24);
  --inline-menu-border-color:rgba(255,255,255,.24);
}

.layout-menu-brown {
  --menu-bg:#4E342E;
  --root-menu-text-color:#ffffff;
  --menuitem-text-color:rgba(255,255,255,.6);
  --menuitem-hover-bg:rgba(255,255,255,.12);
  --active-menuitem-text-color:#ffffff;
  --active-menuitem-bg:rgba(255,255,255,.24);
  --inline-menu-border-color: rgba(255,255,255,.24);
}

.layout-menu-cyan {
  --menu-bg:#006064;
  --root-menu-text-color:#ffffff;
  --menuitem-text-color:rgba(255,255,255,.6);
  --menuitem-hover-bg:rgba(255,255,255,.12);
  --active-menuitem-text-color:#ffffff;
  --active-menuitem-bg:rgba(255,255,255,.24);
  --inline-menu-border-color:rgba(255,255,255,.24);
}

.layout-menu-green {
  --menu-bg:#2E7D32;
  --root-menu-text-color:#ffffff;
  --menuitem-text-color:rgba(255,255,255,.6);
  --menuitem-hover-bg:rgba(255,255,255,.12);
  --active-menuitem-text-color:#ffffff;
  --active-menuitem-bg:rgba(255,255,255,.24);
  --inline-menu-border-color:rgba(255,255,255,.24);
}

.layout-menu-deeppurple {
  --menu-bg:#4527A0;
  --root-menu-text-color:#ffffff;
  --menuitem-text-color:rgba(255,255,255,.6);
  --menuitem-hover-bg:rgba(255,255,255,.12);
  --active-menuitem-text-color:#ffffff;
  --active-menuitem-bg:rgba(255,255,255,.24);
  --inline-menu-border-color:rgba(255,255,255,.24);
}

.layout-menu-deeporange {
  --menu-bg:#BF360C;
  --root-menu-text-color:#ffffff;
  --menuitem-text-color:rgba(255,255,255,.6);
  --menuitem-hover-bg:rgba(255,255,255,.12);
  --active-menuitem-text-color:#ffffff;
  --active-menuitem-bg:rgba(255,255,255,.24);
  --inline-menu-border-color:rgba(255,255,255,.24);
}

.layout-menu-pink {
  --menu-bg:#880E4F;
  --root-menu-text-color:#ffffff;
  --menuitem-text-color:rgba(255,255,255,.6);
  --menuitem-hover-bg:rgba(255,255,255,.12);
  --active-menuitem-text-color:#ffffff;
  --active-menuitem-bg:rgba(255,255,255,.24);
  --inline-menu-border-color:rgba(255,255,255,.24);
}

.layout-menu-purple {
  --menu-bg:#6A1B9A;
  --root-menu-text-color:#ffffff;
  --menuitem-text-color:rgba(255,255,255,.6);
  --menuitem-hover-bg:rgba(255,255,255,.12);
  --active-menuitem-text-color:#ffffff;
  --active-menuitem-bg:rgba(255,255,255,.24);
  --inline-menu-border-color:rgba(255,255,255,.24);
}

.layout-menu-teal {
  --menu-bg:#00695C;
  --root-menu-text-color:#ffffff;
  --menuitem-text-color:rgba(255,255,255,.6);
  --menuitem-hover-bg:rgba(255,255,255,.12);
  --active-menuitem-text-color:#ffffff;
  --active-menuitem-bg:rgba(255,255,255,.24);
  --inline-menu-border-color:rgba(255,255,255,.24);
}

.menu-wrapper {
  background-color: var(--menu-bg);
  box-shadow: 2px 0 4px -1px rgba(0, 0, 0, 0.2), 4px 0 5px 0 rgba(0, 0, 0, 0.14), 1px 0 10px 0 rgba(0, 0, 0, 0.12);
}
.menu-wrapper .layout-menu-container .layout-menu > li .layout-menuitem-root-text {
  font-weight: 700;
  color: var(--root-menu-text-color);
}
.menu-wrapper .layout-menu-container .layout-menu > li > ul {
  background-color: var(--menu-bg);
}
.menu-wrapper .layout-menu-container .layout-menu li a {
  color: var(--menuitem-text-color);
}
.menu-wrapper .layout-menu-container .layout-menu li a i {
  color: var(--menuitem-text-color);
}
.menu-wrapper .layout-menu-container .layout-menu li a:hover {
  background-color: var(--menuitem-hover-bg);
}
.menu-wrapper .layout-menu-container .layout-menu li.active-menuitem > a {
  background-color: var(--active-menuitem-bg);
  color: var(--active-menuitem-text-color);
}
.menu-wrapper .layout-menu-container .layout-menu li.active-menuitem > a > i {
  color: var(--active-menuitem-text-color);
}
.menu-wrapper .layout-menu-container .layout-menu li.active-menuitem a.active-menuitem-routerlink {
  background-color: var(--active-menuitem-bg);
  color: var(--active-menuitem-text-color);
}
.menu-wrapper .layout-menu-container .layout-menu li.active-menuitem a.active-menuitem-routerlink > i {
  color: var(--active-menuitem-text-color);
}
.menu-wrapper .layout-menu-container .layout-inline-menu {
  border-color: var(--inline-menu-border-color);
}
.menu-wrapper .layout-menu-container .layout-inline-menu a {
  color: var(--menuitem-text-color);
}
.menu-wrapper .layout-menu-container .layout-inline-menu .layout-inline-menu-action,
.menu-wrapper .layout-menu-container .layout-inline-menu .layout-inline-menu-action-panel .layout-inline-menu-action-item {
  color: var(--menuitem-text-color);
}
.menu-wrapper .layout-menu-container .layout-inline-menu .layout-inline-menu-action i,
.menu-wrapper .layout-menu-container .layout-inline-menu .layout-inline-menu-action-panel .layout-inline-menu-action-item i {
  color: var(--menuitem-text-color);
}
.menu-wrapper .layout-menu-container .layout-inline-menu .layout-inline-menu-action:hover,
.menu-wrapper .layout-menu-container .layout-inline-menu .layout-inline-menu-action-panel .layout-inline-menu-action-item:hover {
  background-color: var(--menuitem-hover-bg);
}
.menu-wrapper .layout-menu-container .layout-inline-menu .layout-inline-menu-action-panel {
  background-color: var(--menu-bg);
}

@media (min-width: 993px) {
  .layout-menu-horizontal .menu-wrapper .layout-menu-container .layout-menu > li > ul,
.layout-menu-slim .menu-wrapper .layout-menu-container .layout-menu > li > ul {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }

  .layout-menu-horizontal .layout-inline-menu .layout-inline-menu-action-panel {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  }
}
.layout-megamenu.p-megamenu {
  border: 0 none;
  padding: 0;
}

.p-datatable-products .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}

@media (max-width: 992px) {
  .p-datatable.p-datatable-products .p-datatable-thead > tr > th,
.p-datatable.p-datatable-products .p-datatable-tfoot > tr > td {
    display: none !important;
  }
  .p-datatable.p-datatable-products .p-datatable-tbody > tr {
    border-bottom: 1px solid var(--surface-d);
  }
  .p-datatable.p-datatable-products .p-datatable-tbody > tr > td {
    text-align: left;
    display: flex;
    border: 0 none !important;
    width: 100% !important;
    border: 0 none;
    align-items: center;
  }
  .p-datatable.p-datatable-products .p-datatable-tbody > tr > td .p-column-title {
    min-width: 30%;
    display: block;
    font-weight: bold;
  }

  .layout-rtl .p-datatable.p-datatable-products .p-datatable-tbody > tr > td {
    text-align: right;
    float: right;
    clear: right;
  }
  .layout-rtl .p-datatable.p-datatable-products .p-datatable-tbody > tr > td .p-column-title {
    margin: -0.4rem -0.4rem -0.4rem 1rem;
  }
}
/*@import './_pages';*/
.parallax {
  perspective: 100px;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
}

.parallax__layer {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.parallax__layer img {
  display: block;
  position: absolute;
  bottom: 0;
}

.parallax__cover {
  background-color: #000;
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 2;
}

.parallax__layer__0 {
  transform: translateZ(-150px) scale(2.5);
}

.parallax__layer__1 {
  transform: translateZ(-100px) scale(2);
}

.parallax__layer__2 {
  transform: translateZ(-50px) scale(1.5);
}

.parallax__layer__3 {
  transform: translateZ(0px) scale(1);
}

.landing-container .landing-color-button {
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 9999;
}
.landing-container h1, .landing-container h2, .landing-container h3, .landing-container h4, .landing-container h5, .landing-container h6 {
  font-weight: 400;
}
.landing-container ul {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  text-decoration: none;
  list-style-type: none;
}
.landing-container .section {
  padding: 2rem 15rem;
}
.landing-container #header {
  width: 100%;
  min-height: 400px;
  background: url("../../images/landing/landing-header.png") top left no-repeat #f7f7f7;
  background-size: cover;
}
.landing-container #header .header-menu-container a {
  color: #ffffff;
  cursor: pointer;
}
.landing-container #header .header-menu-container #menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.landing-container #header .header-text {
  flex-grow: 1;
}
.landing-container #features .feature-button {
  width: 100px;
  height: 100px;
}
.landing-container #promotion {
  background: url("../../images/landing/promotion.png") top left no-repeat;
  background-size: 100% auto;
}
.landing-container #pricing .pricing-content {
  width: 100%;
}
.landing-container #pricing .pricing-content .card {
  height: 100%;
}
.landing-container #pricing .pricing-content .options {
  padding: 2rem 4rem;
}
.landing-container #pricing .pricing-content .options li {
  display: flex;
  align-items: center;
}
.landing-container #pricing .pricing-content .options i, .landing-container #pricing .pricing-content .options span {
  padding: 1rem;
}
.landing-container #pricing .pricing-content .options span {
  font-size: 1.2rem;
}
.landing-container #footer {
  border-top: 1px solid var(--surface-border);
}
.landing-container #footer a {
  color: var(--text-color);
}
.landing-container #footer li {
  padding: 0.25rem;
}

@media screen and (min-width: 990px) {
  .landing-container #header .header-menu-container {
    box-shadow: none;
  }
  .landing-container #header .header-menu-container #menu {
    box-shadow: none;
  }
}
@media screen and (max-width: 991px) {
  .landing-container .section {
    padding: 2rem;
  }
  .landing-container #header .header-menu-container {
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #212121;
    padding: 2rem 5rem;
  }
  .landing-container #header .header-menu-container #menu {
    display: none;
    z-index: 100;
    position: fixed;
    top: 6rem;
    right: 5rem;
    width: 250px;
    background-color: var(--surface-card);
    color: var(--text-color);
    animation-duration: var(--transition-duration);
  }
  .landing-container #header .header-menu-container #menu a {
    color: var(--text-color);
  }
  .landing-container #header .header-menu-container #menu > li {
    width: 100%;
  }
  .landing-container #header .header-menu-container #menu > li:hover {
    background-color: var(--surface-hover);
    transition: background-color var(--transition-duration);
  }
  .landing-container #header .header-menu-container #menu.menu-active {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
  }
}
html {
  height: 100%;
  font-size: 14px;
}

body {
  font-weight: 400;
  padding: 0;
  margin: 0;
  min-height: 100%;
  background: var(--surface-ground);
  color: var(--text-color);
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--text-color-secondary);
}

.layout-mask {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 996;
  width: 100%;
  height: 100%;
  animation-duration: 0.2s;
  animation-timing-function: cubic-bezier(0.05, 0.74, 0.2, 0.99);
  animation-fill-mode: forwards;
}

.layout-container .layout-main {
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}
.layout-container .layout-main .layout-content {
  padding: 2rem;
  padding-top: 1rem;
  flex: 1 1 0;
}

.layout-ajax-loader-icon {
  position: fixed;
  right: 2rem;
  bottom: 2rem;
  font-size: 2rem;
  color: var(--text-color-secondary);
  z-index: 999;
}

.layout-topbar .notifications .layout-topbar-action-panel img {
  width: 32px;
  height: 32px;
}
.layout-topbar .notifications .layout-topbar-action-panel .layout-topbar-action-item {
  border-bottom: 1px solid var(--divider-color);
}
.layout-topbar .notifications .layout-topbar-action-panel .layout-topbar-action-item:last-child {
  border-bottom: 0 none;
}
.layout-topbar .app .layout-topbar-action-panel a {
  padding: 0.5rem 0;
}
.layout-topbar .app .layout-topbar-action-panel a i {
  width: 42px;
  height: 42px;
  border: 1px solid transparent;
  border-radius: 50%;
  margin: 0.5rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout-rightmenu .header {
  padding-bottom: 0.5rem;
  margin-bottom: 0.714rem;
  border-bottom: 1px solid var(--divider-color);
}
.layout-rightmenu .online-members img {
  width: 32px;
}
.layout-rightmenu .online-members b {
  color: var(--primary-color);
}
.layout-rightmenu .latest-activity i {
  border: 1px solid transparent;
  border-radius: 50px;
  background-color: var(--surface-d);
}
.layout-rightmenu .next-events ul {
  margin: 0;
  list-style-type: none;
  padding: 0;
}
.layout-rightmenu .next-events ul > li {
  padding: 0.875rem 0.5rem;
}

.layout-help-page .questions.p-accordion p-accordiontab .p-accordion-tab {
  margin-top: 1rem;
  overflow: hidden;
}
.layout-help-page .questions.p-accordion p-accordiontab:first-child .p-accordion-tab {
  margin-top: 0;
}

.layout-invoice-page .p-invoice-datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
  display: none;
}
@media screen and (max-width: 40rem) {
  .layout-invoice-page .p-invoice-datatable-responsive .p-datatable-thead > tr > th,
.layout-invoice-page .p-invoice-datatable-responsive .p-datatable-tfoot > tr > td {
    display: none !important;
  }
  .layout-invoice-page .p-invoice-datatable-responsive .p-datatable-tbody > tr > td {
    text-align: left;
    display: block;
    width: 100%;
    float: left;
    clear: left;
    border: 0 none;
  }
  .layout-invoice-page .p-invoice-datatable-responsive .p-datatable-tbody > tr > td .p-column-title {
    padding: 0.4rem;
    min-width: 30%;
    display: inline-block;
    margin: -0.4em 1em -0.4em -0.4rem;
    font-weight: bold;
  }
  .layout-invoice-page .p-invoice-datatable-responsive .p-datatable-tbody > tr > td:last-child {
    border-bottom: 1px solid var(--surface-d);
  }
}

@media (min-width: 992px) {
  .layout-menu-slim .layout-inline-menu .layout-inline-menu-action {
    justify-content: center;
  }
  .layout-menu-slim .layout-inline-menu .layout-inline-menu-action > span,
.layout-menu-slim .layout-inline-menu .layout-inline-menu-action > i {
    display: none !important;
  }
  .layout-menu-slim .layout-inline-menu .layout-inline-menu-action-panel .layout-inline-menu-action-item > a {
    justify-content: center;
  }
  .layout-menu-slim .layout-inline-menu .layout-inline-menu-action-panel .layout-inline-menu-action-item > a > i {
    font-size: 1.5rem;
    margin-right: 0 !important;
  }
  .layout-menu-slim .layout-inline-menu .layout-inline-menu-action-panel .layout-inline-menu-action-item > a > span {
    display: none;
  }
}
.layout-footer {
  background-color: var(--surface-card);
}

.layout-config {
  transition: transform var(--transition-duration);
}
.layout-config .p-sidebar-content,
.layout-config .layout-config-panel {
  height: 100%;
}
.layout-config .p-sidebar-header,
.layout-config .p-sidebar-content {
  padding: 0;
}
.layout-config .layout-config-options {
  height: 100%;
  overflow-y: auto;
}
.layout-config .layout-config-options .layout-config-color-option {
  width: 1.75rem;
  height: 1.75rem;
  display: block;
  position: relative;
}
.layout-config .layout-config-options .layout-config-color-option.p-disabled {
  opacity: 0.1;
}
.layout-config .layout-config-options .layout-config-color-option .color {
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  border: 1px solid var(--surface-border);
}
.layout-config .layout-config-options .layout-config-color-option .check {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  pointer-events: none;
  width: 100%;
  height: 100%;
}
.layout-config p {
  color: var(--text-color-secondary);
}
.layout-config .scale-icon {
  color: var(--surface-d);
}
.layout-config .scale-icon.scale-active {
  color: var(--primary-color);
}

.layout-config-button.p-button {
  z-index: 1001;
  position: fixed;
  top: 50%;
  right: 0;
  width: auto;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.layout-config-button.p-button .p-button-icon {
  font-size: 2rem;
}

.layout-help-page .layout-help-page-header {
  position: relative;
}
.layout-help-page .layout-help-page-header .layout-help-page-header-text {
  position: absolute;
  left: 2rem;
  top: 50%;
  margin-top: -1.75rem;
  color: #ffffff;
}
.layout-help-page .layout-help-page-header .layout-help-page-search {
  position: absolute;
  left: 2rem;
  bottom: -1rem;
  border-radius: 4px;
  width: calc(100% - 4rem);
}
.layout-help-page .layout-help-page-header .layout-help-page-search .p-inputtext {
  border: 0 none;
}

@media print {
  body * {
    visibility: hidden;
  }

  .layout-invoice-content {
    position: absolute;
    left: 0;
    top: 0;
  }
  .layout-invoice-content * {
    visibility: visible;
    box-shadow: none;
    color: #212121 !important;
    border-color: #e4e4e4 !important;
    background-color: transparent;
  }
}
.layout-breadcrumb-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.02), 0px 0px 2px rgba(0, 0, 0, 0.05), 0px 1px 4px rgba(0, 0, 0, 0.08);
  padding: 0.5rem 2rem;
}
.layout-breadcrumb-container .layout-breadcrumb ol {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 1rem;
  flex-wrap: wrap;
  color: var(--text-color-secondary);
}
.layout-breadcrumb-container .layout-breadcrumb-buttons {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

/*@import './_wizard';*/
