


<!--            <app-dynamic-form  [model]="model"  (kaydet)="goster($event)" class=" "></app-dynamic-form>-->
<!--            <app-table [columns]="getHeadersAndFields()" [service]="customService"></app-table>-->

                <app-table
                   [columns]="getHeadersAndFields()"
                   [service]="customService"
                   [getPageViewOptions]="getPageViewOptions()"
                   [fieldData]="getFieldJsonData()"
                   (kaydetButton)="goster($event)"
                >
                </app-table>



