<!--<ng-form [formGroup]="dynamicFormGroup" (ngSubmit)="onSubmit()" >-->
<div [formGroup]="dynamicFormGroup"  class="grid formgrid mt-4  " style="{border-style: solid;}">
    <div *ngFor="let field of fields"
         class="col-12 column-gap-4  " [className]="getPageViewOptions.layoutRow">
        <app-field-input [field]="field" [fieldName]="field.fieldName" ></app-field-input>
<!--        <app-dynamic-error [fieldName]="field.fieldName" [field]="field"></app-dynamic-error>-->
    </div>
    <div class="col-12" style="bottom:0;position: fixed;">
    <hr class="" >
    <div class="col-12 mr-0 bg-red-300" style="" >
        <div class="mb-3 "  style="float: right;">
            <button  type="button" (click)="kaydetButton.emit(this.dynamicFormGroup.value)"
                     [disabled]="!dynamicFormGroup.valid" class="p-button-lg btn bg-primary justify-content-center"
                     pButton>Kaydet</button>
        </div>
    </div>

    </div>
<!--    <button type="submit" pButton>Submit</button>-->
</div>
