<div *ngIf="formName.controls[fieldName].invalid && (formName.controls[fieldName].dirty || formName.controls[fieldName].touched)" class="alert">
    <div class="errorMessage mb-3" *ngIf="formName.controls[fieldName].errors['required']">
        <span *ngIf="field.validateLabel === undefined" > * {{field.label}} giriniz </span>
        <span *ngIf="field.validateLabel !== undefined"> * {{field.validateLabel}} </span>

    </div>
</div>
